/* [project]/src/app/components/Util/Grid/Grid.css [app-client] (css) */
.gridSize input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.gridSize input[type="range"] {
  accent-color: #f4a460;
  color: #000;
  lighting-color: red;
  caret-color: red;
  border-top-color: red;
  border-bottom-color: red;
  border-color: orange;
  fill: #00f;
  border-left-color: #0ff;
  border-right-color: #0ff;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-bottom: none;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
}

.gridSize input[type="range"]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  background: #f5f8eb linear-gradient(90deg, #da974e .125em, rgba(0, 0, 0, 0) .125em) 2px 0 / 1vh 100% border-box;
  border: 1px solid #4eda71;
  border-radius: .25em;
  width: 30em;
  height: 0;
}

.gridSize input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  filter: drop-shadow(0 0 #3a3534);
  background: linear-gradient(135deg, #3bce3b 20%, #60858a 50%, #3a3534 50%, #3a3534 calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1px)) no-repeat content-box content-box;
  border: 1.5em solid rgba(0, 0, 0, 0);
  border-radius: 1.875em;
  width: 7.5em;
  height: 7.5em;
  margin-top: -2.25em;
  padding: 0;
  font-size: .2em;
  position: relative;
  transform: translateY(-1.25vh)rotate(30deg)skewY(30deg)scaleX(.88667);
  box-shadow: inset -1px -1px #3a3534;
}

.gridSize input[type="range"]::-moz-range-track {
  box-sizing: border-box;
  width: inherit;
  background: #f5f8eb linear-gradient(90deg, #da974e .125em, rgba(0, 0, 0, 0) .125em) 2px 0 / 1vh 10% border-box;
  border: 1px solid #4eda71;
  border-radius: .25em;
  height: 1px;
}

.gridSize input[type="range"]::-ms-track {
  box-sizing: border-box;
  background: #f5f8eb linear-gradient(90deg, #da974e .125em, rgba(0, 0, 0, 0) .125em) 2px 0 / 1vh 100% border-box;
  border: 1px solid #4eda71;
  border-radius: .25em;
  width: 30em;
  height: 0;
}

.gridSize input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  filter: drop-shadow(0 0 #3a3534);
  background: linear-gradient(135deg, #3bce3b 20%, #60858a 50%, #3a3534 50%, #3a3534 calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1px)) no-repeat content-box content-box;
  border: 1.5em solid rgba(0, 0, 0, 0);
  border-radius: 1.875em;
  width: 7.5em;
  height: 7.5em;
  margin-top: -2.25em;
  padding: 0;
  font-size: .2em;
  position: relative;
  transform: translateY(-1.25vh)rotate(30deg)skewY(30deg)scaleX(.88667);
  box-shadow: inset -1px -1px #3a3534;
}

.gridSize input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  filter: drop-shadow(0 0 #3a3534);
  background: linear-gradient(135deg, #3bce3b 20%, #60858a 50%, #3a3534 50%, #3a3534 calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1px)) no-repeat content-box content-box;
  border: 1.5em solid rgba(0, 0, 0, 0);
  border-radius: 1.875em;
  width: 7.5em;
  height: 7.5em;
  margin-top: -2.25em;
  padding: 0;
  font-size: .2em;
  position: relative;
  transform: translateY(-1.25vh)rotate(30deg)skewY(30deg)scaleX(.88667);
  box-shadow: inset -1px -1px #3a3534;
}

input[type="range"] #thumb:before {
  filter: blur(1px);
  content: "";
  background: linear-gradient(#fff, #fff) 50% 20% / .125em 25% no-repeat, radial-gradient(circle, rgba(0, 0, 0, 0) .25em, #fff .25em, #fff .375em, rgba(0, 0, 0, 0) .375em) 0 0 / 100% 86% no-repeat;
  width: 2em;
  height: 2em;
  position: absolute;
  transform: scaleX(1.1547)skewY(-30deg)rotate(-30deg)translateY(37%);
}

.gridSize input[type="range"]::-webkit-slider-thumb:before {
  filter: blur(1px);
  content: "";
  background: linear-gradient(#fff, #fff) 50% 20% / .125em 25% no-repeat, radial-gradient(circle, rgba(0, 0, 0, 0) .25em, #fff .25em, #fff .375em, rgba(0, 0, 0, 0) .375em) 0 0 / 100% 86% no-repeat;
  width: 2em;
  height: 2em;
  position: absolute;
  transform: scaleX(1.1547)skewY(-30deg)rotate(-30deg)translateY(37%);
}

.gridSize input[type="range"]::-ms-fill-lower {
  display: none;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

.gridSize .sliderVertical input {
  transform-origin: 0 0;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.7vh;
  height: 3vh;
  margin: 2.1vh 0 0;
  padding-left: 1vh;
  transform: rotate(90deg);
}

.gridSize .sliderHorizontal input {
  vertical-align: super;
  height: 0;
  margin: 0;
}

label.gridSize {
  cursor: grab;
  width: 14vh;
  height: 14vh;
  margin: 2vh;
  border-style: solid solid dashed dashed !important;
  border-width: 1.2vh 1.2vh .3vh .3vh !important;
  border-top-color: #000 !important;
  border-right-color: #000 !important;
  border-radius: 50% !important;
}

label.gridSize p {
  white-space: nowrap;
  position: relative;
  bottom: 8.5vh;
}

.gridSize .sliderVertical {
  width: 0;
  height: 15vh;
  margin: 0 0 0 4vh;
  padding: 0;
  display: inline-block;
}

.gridSize .sliderHorizontal {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.gridSize .sliderHorizontal span {
  display: flex;
}

.gridSize .sliderHorizontal section {
  flex-flow: wrap;
  place-content: center;
  place-items: center;
  padding-left: .5vh;
  display: flex;
  position: relative;
  top: 1.5vh;
}

.gridOptSignifier {
  border-collapse: collapse;
  box-sizing: border-box;
  background-color: #46c04d;
  border: 1px solid #492222;
  width: 1vh;
  height: 1vh;
  display: inline-block;
}

.oob {
  background-color: rgba(0, 0, 0, 0);
  border-style: inset;
  border-color: #277133;
}

/*# sourceMappingURL=src_app_components_Util_Grid_Grid_css_bad6b30c._.single.css.map*/